.bg-secondary {
  background-color: #d36c83 !important;
}

.bg-primary {
  background-color: #f098ab !important;
}

nav a.nav-link {
  /*color: #c17b2f !important;*/
  /*text-shadow: 1px 1px 2px gold;*/
}

.dancing-script-text {
  font-family: "Dancing Script", cursive !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  /*color: #c17b2f !important;*/
  text-shadow: 1px 1px 2px gold;
  color: white;
  /*text-shadow: 2px 1px 2px rgba(252,181,75,0.91) !important;*/
}

h1.dancing-script-text {
  color: #c17b2f !important;
  /*text-shadow: 1px 1px 2px white !important;*/
  text-shadow: 2px 1px 34px rgba(252,181,75,0.91) !important;
}

hr.star-light:after, hr.star-dark:after {
  border-radius: 20px !important;
  background-color: #c17b2f;
}

.great-vibes-text {
  font-family: "great-vibes", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

h1.great-vibes-text, h2.great-vibes-text {
  color: #c17b2f !important;
  /*text-shadow: 1px 1px 2px white !important;*/
  text-shadow: 2px 1px 34px rgba(252,181,75,0.91) !important;
}

header.masthead h2, header.masthead .h2 {
  font-size: 2.8em;
}

section#scan-pass, section#about {
  background-color: #d36c83 !important;
}

nav#mainNav {
  border-bottom: 5px solid #c17b2f;
}

.star-light, .star-dark {
  border-color: #c17b2f !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  background: #c17b2f;
  text-shadow: 2px 1px 34px rgba(252,181,75,0.91) !important;
}

.golden {
  color: #c17b2f !important;
}

.golden-bg {
  background-color: #c17b2f !important;
}

.standard-button {
  border: 2px solid #f098ab !important;
  background-color: #c17b2f !important;
  font-size: var(--bs-nav-link-font-size);
  font-weight: bold;
}

#first-photo {
  /*padding: 0px !important;*/
  background-color: #f098ab !important;
  box-shadow: 0px 0px 10px 5px rgba(193,123,47,0.5) !important;
}

.text-secondary {
  color: #650056ff !important;
}

.standard-button.text-secondary:hover {
  color: #c17b2f !important;
  background-color: #650056 !important;
}

#reader video {
  width: 100% !important;
  height: auto !important;
}

.btn.bg-success {
  border: 2px solid #f098ab !important;
  font-weight: bolder;
  font-family: 'Montserrat';
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: white !important;
}

.modal-body {
  background-color: #f098ab !important;
}

.modal-body h4 {
  color: #650056 !important;
}

.modal-body h5 {
  font-family: 'Lato';
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  background-color: #f098ab !important;
  color: #c17b2f !important;
}

